@model HASRestaurant.Context.Account

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

@using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post, new { @class = "form-signin" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(false)
    <h1 class="h3 mb-3 font-weight-normal" style="text-align: center"> Email</h1>
    @*@Html.TextBoxFor(Model => Model.UserName, new { @name = "user", @type = "text", @id = "inputEmail", @class = "form-control", @placeholder = "Username", @required = "", @autofocus = "" })
        @Html.ValidationMessageFor(Model => Model.UserName, "", new { @class = "text-danger" })*@
    @Html.TextBoxFor(Model => Model.Email, new { @name = "Email", @type = "Email", @id = "Email", @class = "form-control", @placeholder = "Email", @required = "" })
    @Html.ValidationMessageFor(Model => Model.Email, "", new { @class = "text-danger" })



    <button class="btn btn-warning btn-block" type="submit"><i class="fas fa-sign-in-alt"></i> Submit</button>

    <hr>
}
